.app-header {
    height: 60px;
    line-height: 60px;
    background-color: rgba(34, 49, 100, 0.894);
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif; /* Update the font family */
    font-weight: 300; /* Adjust the font weight */
    letter-spacing: 0px; /* Add some letter spacing for a sleek look */
}

